#container1 {
    width: 400px;
    height: 300px;
    display: inline-block;
    margin: 7px;
    text-align: center;
}

#container2 {
    width: 400px;
    height: 300px;
    display: inline-block;
    margin: 7px;
    text-align: center;
}
#container3 {
    width: 400px;
    height: 300px;
    display: inline-block;
    margin: 7px;
    text-align: center;
}
