#container1 {
    width: 400px;
    height: 400px;
    display: inline-block;
    margin: 80px;
    text-align: center;
}

#container2 {
    width: 400px;
    height: 400px;
    display: inline-block;
    margin: 80px;
    text-align: center;
}
#container3 {
    width: 400px;
    height: 400px;
    display: inline-block;
    margin: 80px;
    text-align: center;
}
