<style>
.btmenu {
    
    margin: 10px 2.1% 10px;
    border: 10px solid #244b9a;
    color: #ffffff;
    border-radius: 1px;
    padding: 7px 7px;
    text-transform: uppercase;
    background: #244b9a;
    text-align: center;
    text-decoration: none;
    
}

.menu {color: #ffffff;
    margin: 8px; 2.1% 8px;
    padding: 3px 22px;

}
</style>
